@font-face {
    font-family: 'Markazi Text';
    src: url('/src/assets/fonts/MarkaziText-VariableFont_wght.woff') format('woff'),
         url('/src/assets/fonts/MarkaziText-VariableFont_wght.woff2') format('woff2');
}

@font-face {
    font-family: 'Karla';
    src: url('/src/assets/fonts/Karla-VariableFont_wght.woff') format('woff'),
         url('/src/assets/fonts/Karla-VariableFont_wght.woff2') format('woff2');
}