/* VARIABLES */

:root {
  --yellow: #F4CE14;
  --dark-green: #495E57;
  --peach: #EE9972;
  --light-peach: #FBDABB;
  --black: #333;
  --white: #FFF;
  --light-grey: #EDEFEE;
  --disabled-bg: #D9D9D9;
  --disabled-text: #B6B6B6;

  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-28: 1.75rem;
  --space-32: 2rem;
  --space-36: 2.25rem;
  --space-40: 2.5rem;
  --space-44: 2.75rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-60: 3.75rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-100: 6.25rem;
  --space-120: 7.5rem;
  --space-140: 8.75rem;
  --space-160: 10rem;
  --space-200: 12.5rem;

  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-32: 2rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-56: 3.5rem;
  --text-64: 4rem;
  --text-80: 5rem;

  --rounded-8: 0.5rem;
  --rounded-16: 1rem;
}


/* ROOTS */

:root {
  font-size: 16px;
}

#root {
  overflow: hidden;
}

body {
  padding: 0;
  font-family: Karla, sans-serif;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  /* remove default margin */
  scrollbar-width: none;
  /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;
  /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}

@-moz-document url-prefix() {

  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
}


/* TAGS */

p,
h1,
h2,
h3,
a,
button,
input,
textarea {
  margin: 0;
}

p {
  font-size: var(--text-18);
  font-weight: 500;
}

h1,
.text-h1 {
  font-family: "Markazi Text", serif;
  font-size: var(--text-64);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h2,
.text-h2 {
  font-family: "Markazi Text", serif;
  font-size: var(--text-40);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h3,
.text-h3 {
  font-family: "Markazi Text", serif;
  font-size: var(--text-32);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black);
  font-size: var(--text-18);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* UTILITIES */

/* Display */

.desktop-only {
  display: block;
}

/* Spacing */

.paddings-section {
  padding-left: 0;
  padding-right: 0;
}

.pt-20 {
  padding-top: var(--space-20);
}

.pt-40 {
  padding-top: var(--space-40);
}

.pt-60 {
  padding-top: var(--space-60);
}

.pt-80 {
  padding-top: var(--space-80);
}

.pt-100 {
  padding-top: var(--space-100);
}

.pt-160 {
  padding-top: var(--space-160);
}

.pt-200 {
  padding-top: var(--space-200);
}

.pb-20 {
  padding-bottom: var(--space-20);
}

.pb-40 {
  padding-bottom: var(--space-40);
}

.pb-60 {
  padding-bottom: var(--space-60);
}

.pb-80 {
  padding-bottom: var(--space-80);
}

.pb-100 {
  padding-bottom: var(--space-100);
}

.pb-160 {
  padding-bottom: var(--space-160);
}

.pb-200 {
  padding-bottom: var(--space-200);
}

.gap-4 {
  gap: var(--space-4);
}

.gap-8 {
  gap: var(--space-8);
}

.gap-12 {
  gap: var(--space-12);
}

.gap-20 {
  gap: var(--space-20);
}

.gap-40 {
  gap: var(--space-40);
}

.gap-60 {
  gap: var(--space-60);
}

/* Text */

.text-nowrap {
  text-wrap: nowrap;
}

.text-balance {
  text-wrap: balance;
}

.text-center {
  text-align: center;
}

.text-60ch {
  max-width: 60ch;
}

.text-80ch {
  max-width: 80ch;
}

/* Colors */

.color-yellow {
  color: var(--yellow) !important;
}

.color-dark-green {
  color: var(--dark-green) !important;
}

.color-black {
  color: var(--black) !important;
}

.color-white {
  color: var(--white) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

.bg-dark-green {
  background-color: var(--dark-green) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

/* Flex */

.h-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.v-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-2 {
  flex-shrink: 2;
}

/* Grids */

.grid-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: var(--space-20);
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
}

.col-full {
  grid-column: 4/span 6;
}

.col-6 {
  grid-column: span 12;
}

.btn,
button {
  font-family: Karla, sans-serif;
  font-size: var(--text-18);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: none;
  border: none;
  border-radius: var(--rounded-16);
  background: var(--yellow);
  color: var(--black);
  display: flex;
  height: 100%;
  width: auto;
  padding: var(--text-14) var(--text-80) var(--text-16);
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  text-wrap: nowrap;
}

.order-btn {
  font-size: var(--text-16);
  font-weight: 700;

  display: flex;
  /*   height: 40px; */
  width: auto;

  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
}


/* SECTIONS */

/* Header */

nav {
  display: flex;
  flex-direction: row;
}

.nav_logo {
  max-height: var(--space-64);
  object-fit: cover;
}

.nav_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-40);
  padding: 0;
}

.nav_list>li>a:visited {
  color: var(--black);
}

/* Hero section */

#hero-section {
  color: var(--white);
  background-color: var(--dark-green);
  width: 100%;
  height: auto;
  grid-column: auto;
}

.hero_text {
  width: 60%;
}

.hero_img {
  width: 25rem;
  height: 25rem;
  margin-bottom: -8rem;
  border-radius: var(--rounded-16);
  overflow: hidden;
}

.hero_img>img {
  width: 100%;
  object-fit: cover;
}

/* Specials section */

#specials-section {
  height: auto;
  background-color: var(--yellow);
}

.card-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.card {
  width: 100%;
  background-color: var(--light-grey);
  border-radius: var(--rounded-16);
  box-sizing: border-box;
  overflow: hidden;
}

.card_image {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.card_image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_text {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-12) var(--space-24) var(--space-24);
}

.card_price {
  font-family: Karla, sans-serif;
  font-size: var(--text-18);
  font-weight: 700;
  color: var(--peach);
}

.card-group.col-full {
  grid-column: 4 / span 6;
}

/* Testimonials section */

#testimonials-section {
  height: auto;
  background-color: var(--dark-green);
  color: var(--white);
}

.testimonial_card {
  width: 25%;
  background-color: var(--light-grey);
  color: #333;
  border-radius: var(--rounded-16);
  padding: var(--space-20) var(--space-20) var(--space-40);
  box-sizing: border-box;
  overflow: hidden;
}

.rate-icon {
  width: 20px;
  height: 20px;
}

.avatar {
  width: var(--space-56);
  height: var(--space-56);
  border-radius: 50%;
  object-fit: cover;
}

/* About section */

#about-section {
  height: auto;
  background-color: var(--yellow);
}

.about_img {
  width: 20rem;
  height: 30rem;
  border-radius: var(--rounded-16);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-left: var(--space-60);
}

.img-overflow {
  margin-left: -10rem;
  margin-top: -10rem;
}
.about_img>img {
  height: 100%;
  object-fit: cover;
}

/* Booking page */

.booking-page {
  height: auto;
  background-color: var(--peach);
}

.booking-page>h1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.booking_form {
  grid-row: 2 / 2;
  grid-column: 5 / span 4;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}

input,
select,
textarea {
  border: none;
  border-radius: var(--rounded-8);

  font-family: Karla, sans-serif;
  font-size: var(--text-18);
  line-height: normal;

  height: 36px;
  width: 100%;
  display: block;
  padding: var(--space-8) var(--space-16);
  margin: var(--space-8) 0 var(--space-12);
  box-sizing: border-box;
}

label {
  font-family: Karla, sans-serif;
  font-size: var(--text-16);
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1920px) {
  .card-group.col-full {
    grid-column: 3 / span 8;
  }
}

@media screen and (max-width: 1520px) {
  :root {
    font-size: 15px;
  }

  .col-full {
    grid-column: 3/span 8;
  }

  .nav_logo {
    max-height: var(--space-60);
  }

  .nav_list {
    gap: var(--space-20);
  }

  .booking_form {
    grid-column: 5 / span 4;
  }

  .card-group.col-full {
    grid-column: 2 / span 10;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 13px;
  }

  .col-full {
    grid-column: 2/span 10;
  }

  .paddings-section {
    padding-left: var(--space-40);
    padding-right: var(--space-40);
  }

  .nav_logo {
    max-height: var(--space-60);
  }

  .nav_list {
    gap: var(--space-20);
  }

  .booking_form {
    grid-column: 4 / span 6;
  }

  .card-group.col-full {
    grid-column: 2 / span 10;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  .col-full {
    grid-column: 1/span 12;
  }

  .paddings-section {
    padding-left: var(--space-32);
    padding-right: var(--space-32);
  }

  .desktop-only {
    display: none;
  }

  .nav_logo {
    max-height: var(--space-56);
  }

  .booking_form {
    grid-column: 3 / span 8;
  }

  .card-group.col-full {
    grid-column: 1 / span 12;
  }

  .card-group {
    gap: var(--space-20);
  }

  .testimonial_card {
    width: 100%;
  }

  #specials-section button {
    padding: var(--text-14) var(--text-40) var(--text-16);
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 10px;
  }

  .paddings-section {
    padding-left: var(--space-20);
    padding-right: var(--space-20);
  }

  .nav_logo {
    max-height: var(--space-48);
  }

  .card-group {
    width: 100%;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card-group.col-full {
    grid-column: 2 / span 10;
  }

  #specials-section>div {
    gap: var(--space-20);
  }

  .booking_form {
    grid-column: 2 / span 10;
  }
}