body {
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .page-wrapper {
  scrollbar-gutter: stable;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  padding: 40px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.hero_wrapper {
  height: 400px;
  background-color: #495E57;
}

.hero_wrapper > p {
  grid-column: span 2;
}

.specials_wrapper {
  height: 400px;
  background-color: #F4CE14;
}

.testimonials_wrapper {
  height: 400px;
  background-color: #495E57;
}

.about_wrapper {
  height: 400px;
  background-color: #F4CE14;
}

.booking-page {
  height: 800px;
  background-color: #EE9972;
}